body {
    margin: 0;
    font-family: Arial;
    background: #f4f7fb;
}

.container {
    width: 500px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 20px #ddd;
}

h1 {
    text-align: center;
    color: #6c63ff;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    background: #6c63ff;
    color: white;
    cursor: pointer;
}

#taskList {
    margin: 20px 0;
}

#clearButton {
    display: block;
    margin-left: auto;
    background: #ff6584;
}